<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--บาร์ข้างบน-->
<mat-toolbar style="background-color: rgb(89, 58, 175);">
    <span>
        <img src="src/assets/img/logo.png" style="padding-left:2vh;" width="100" height="30">
    </span>
    <span class="fill-remaining-space"></span>
    <button mat-button [routerLink]="['/home']">Home</button>
    <button mat-button [routerLink]="['/reservation']">Reservation</button>
    <button mat-button [routerLink]="['/user-profile']">Profile</button>
    <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<body>
    <div class="cardmain">
        <div style="margin-top: 20px;">
            <h1 style="margin: auto auto; font-size: 56px; text-align: center;color: #17A05D;">RESERVATION</h1>
            <p style="font-size: 20px;  margin-top: -1px; text-align: center;color: #FFF;">
                การนัดหมายที่จะทำให้คุณสะดวกสบายเพื่อการแลกเปลี่ยนสกุลเงินได้ง่ายๆ</p>
        </div>
        <br>
        <mat-card>
            <mat-card-content>
                <br>
                <mat-grid-list cols="3" rowHeight="30px">
                    <mat-grid-tile>
                        <p style="font-size: 18px; text-align: center">เลือกศูนย์บริการที่ต้องการ</p>
                    </mat-grid-tile>
                    <mat-grid-tile></mat-grid-tile>
                    <mat-grid-tile>
                        <p style="font-size: 18px; text-align: center">วันเดือนปี ที่มาแลกเงิน</p>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile>
                        <mat-form-field style="width: 100%">
                            <mat-select [(ngModel)]="serviceCenter" placeholder="Service Center">
                                <mat-option *ngFor="let service of serviceList" [value]="service">
                                    {{service.serviceCenName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile></mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field style="width: 100%">
                            <input [(ngModel)]="dateAppointment" (ngModelChange)="test(dateAppointment)" matInput [matDatepicker]="picker" placeholder="Choose a date" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="3" rowHeight="30px" >
                    <mat-grid-tile>
                        <p style="font-size: 18px; text-align: center">จำนวนเงินที่นำมาแลกเปลี่ยน</p>
                    </mat-grid-tile>
                    <mat-grid-tile></mat-grid-tile>
                    <mat-grid-tile>
                        <p style="font-size: 18px; text-align: center">สกุลเงินที่ต้องการแลกเปลี่ยน</p>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="3" rowHeight="200px" style="margin-top: -30px;">
                    <mat-grid-tile>
                        <mat-form-field class="example-full-width" style="width: 65%;">
                            <input [(ngModel)]="baseAmount" matInput type="number" placeholder="Enter amount">
                        </mat-form-field>

                        <mat-form-field style="width: 30%; margin-left: 5%; " >
                            <mat-select [(ngModel)]="baseCurrency" (ngModelChange)="test($event)" placeholder="Currency"  >
                                <mat-option *ngFor="let currency of currencyBaseList" [value]="currency.currencyCode">
                                    {{currency.currencyCode}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile style="margin-top: -20px">
                        <img id=text-shadow src="src/assets/img/Exchange.png" width="200" height="124.5">
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field style="width: 100%;">
                            <mat-select [(ngModel)]="distCurrency" placeholder="Select Currency">
                                <mat-option *ngFor="let currency of currencyDistList" [disabled]="currency.currencyCode == baseCurrency" [value]="currency.currencyCode">
                                    {{currency.currencyCode}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>

            </mat-card-content>
        </mat-card>

    </div>

</body>

<mat-card-actions>
    <div class="centerbox" style="margin-top: 15px">
        <button mat-raised-button color="primary" style="width: 150px; margin-right: 15px; background-color: Tomato;">CANCEL</button>
        <button mat-raised-button color="primary" (click)="createQueue()" style="width: 150px; margin-left: 15px; background-color: MediumSeaGreen;"
           >SUBMIT</button>
    </div>
</mat-card-actions>